.leftNav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 5%;
}
 
.rightNav {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 5%;
}